<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.edusport.mapper.SportMapper">
	<select id="getSportByName" resultType="org.jeecg.modules.edusport.entity.Sport">
        SELECT * 
        FROM tb_edu_sport
		WHERE sport_name = #{sportName} 
    </select>

	<select resultType="org.jeecg.modules.edusport.entity.Sport" id="getSportByCode">
		SELECT *FROM tb_edu_sportWHERE sport_code = #{sportCode} 
	</select>
</mapper>